# Student Churn Prediction and Assistance Recommendation Project

<strong>Only this jupyter notebook should be used for any analysis and prediction work</strong>

In [1]:
### At this stage we only need proper data processing and cleaning

In [2]:
import pandas as pd

In [3]:
#student progress fall data 
student_progress_2011_Fall = pd.read_csv("./datasets/Student Progress Data/Fall 2011_SP.csv")
student_progress_2012_Fall = pd.read_csv("./datasets/Student Progress Data/Fall 2012_SP.csv")
student_progress_2013_Fall = pd.read_csv("./datasets/Student Progress Data/Fall 2013_SP.csv")
student_progress_2014_Fall = pd.read_csv("./datasets/Student Progress Data/Fall 2014_SP.csv")
student_progress_2015_Fall = pd.read_csv("./datasets/Student Progress Data/Fall 2015_SP.csv")
student_progress_2016_Fall = pd.read_csv("./datasets/Student Progress Data/Fall 2016_SP.csv")

#student progress spring data
student_progress_2012_Spring = pd.read_csv("./datasets/Student Progress Data/Spring 2012_SP.csv")
student_progress_2013_Spring = pd.read_csv("./datasets/Student Progress Data/Spring 2013_SP.csv")
student_progress_2014_Spring = pd.read_csv("./datasets/Student Progress Data/Spring 2014_SP.csv")
student_progress_2015_Spring = pd.read_csv("./datasets/Student Progress Data/Spring 2015_SP.csv")
student_progress_2016_Spring = pd.read_csv("./datasets/Student Progress Data/Spring 2016_SP.csv")
student_progress_2017_Spring = pd.read_csv("./datasets/Student Progress Data/Spring 2017_SP.csv")

In [4]:
student_progress_2012_Spring.head()

,StudentID,Cohort,CohortTerm,Term,AcademicYear,CompleteDevMath,CompleteDevEnglish,Major1,Major2,Complete1,Complete2,CompleteCIP1,CompleteCIP2,TransferIntent,DegreeTypeSought,TermGPA,CumGPA
0,285848,2011-12,1,3,2011-12,-2,-2,51.1699,-1.0,0,0,-2.0,-2,-1,6,3.80,3.54
1,302176,2011-12,1,3,2011-12,-2,-2,51.3801,-1.0,0,0,-2.0,-2,-1,6,4.00,3.50
2,301803,2011-12,1,3,2011-12,-2,-2,51.1699,-1.0,0,0,-2.0,-2,-1,6,4.00,3.95
3,302756,2011-12,1,3,2011-12,-2,-2,45.0601,-1.0,0,0,-2.0,-2,-1,6,3.78,3.78
4,300304,2011-12,1,3,2011-12,0,-2,9.0101,-1.0,0,0,-2.0,-2,-1,6,2.00,1.75

In [5]:
student_progress_Fall_data_array = [student_progress_2011_Fall, student_progress_2012_Fall, student_progress_2013_Fall, student_progress_2014_Fall, student_progress_2015_Fall, student_progress_2016_Fall]
student_progress_Spring_data_array = [student_progress_2017_Spring, student_progress_2012_Spring, student_progress_2013_Spring, student_progress_2014_Spring, student_progress_2015_Spring, student_progress_2016_Spring]

In [6]:
for i in range(6):
    student_progress_Fall_data_array[i]['Season'] = "Fall"
    student_progress_Spring_data_array[i]['Season'] = "Spring"
student_progress_Fall_data_array[1].head()

,StudentID,Cohort,CohortTerm,Term,AcademicYear,CompleteDevMath,CompleteDevEnglish,Major1,Major2,Complete1,Complete2,CompleteCIP1,CompleteCIP2,TransferIntent,DegreeTypeSought,TermGPA,CumGPA,Season
0,302176,2011-12,1,1,2012-13,-2,-2,51.3801,-1.0000,0,0,-2.0,-2,-1,6,3.85,3.73,Fall
1,302756,2011-12,1,1,2012-13,-2,-2,45.0601,-1.0000,0,0,-2.0,-2,-1,6,3.86,3.80,Fall
2,300304,2011-12,1,1,2012-13,1,-2,9.0101,-1.0000,0,0,-2.0,-2,-1,6,2.70,2.19,Fall
3,301067,2011-12,1,1,2012-13,-2,-2,23.0101,13.1001,0,0,-2.0,-2,-1,6,4.00,4.00,Fall
4,297371,2011-12,1,1,2012-13,-2,0,0.0000,-1.0000,0,0,-2.0,-2,-1,6,2.74,2.99,Fall

In [7]:
student_progress_Fall_data = pd.concat((student_progress_Fall_data_array[1], student_progress_Fall_data_array[2], student_progress_Fall_data_array[3], student_progress_Fall_data_array[4], student_progress_Fall_data_array[5], student_progress_Fall_data_array[0]))

student_progress_Spring_data = pd.concat((student_progress_Spring_data_array[0],student_progress_Spring_data_array[1], student_progress_Spring_data_array[2], student_progress_Spring_data_array[3], student_progress_Spring_data_array[4], student_progress_Spring_data_array[5]))
student_progress_Spring_data

,StudentID,Cohort,CohortTerm,Term,AcademicYear,CompleteDevMath,CompleteDevEnglish,Major1,Major2,Complete1,Complete2,CompleteCIP1,CompleteCIP2,TransferIntent,DegreeTypeSought,TermGPA,CumGPA,Season
0,314327,2012-13,3,3,2016-17,-2,-2,26.0101,-1.0000,0,0,-2.0,-2,-1,6,3.03,3.48,Spring
1,279968,2013-14,1,3,2016-17,-2,-2,42.0101,-1.0000,0,0,-2.0,-2,-1,6,3.00,2.40,Spring
2,351643,2016-17,1,3,2016-17,-2,-2,52.0301,-1.0000,0,0,-2.0,-2,-1,6,3.82,3.81,Spring
3,330015,2015-16,1,3,2016-17,0,0,26.0101,40.0801,0,0,-2.0,-2,-1,6,1.13,2.40,Spring
4,307735,2011-12,3,3,2016-17,-2,-2,52.0201,-1.0000,0,0,-2.0,-2,-1,6,3.67,2.63,Spring
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5266,355003,2015-16,3,3,2015-16,-1,-1,-1.0000,-1.0000,0,0,-2.0,-2,-1,6,4.00,4.00,Spring
5267,355196,2015-16,3,3,2015-16,-1,-1,-1.0000,-1.0000,0,0,-2.0,-2,-1,6,3.00,3.00,Spring
5268,355197,2015-16,3,3,2015-16,-1,-1,-1.0000,-1.0000,0,0,-2.0,-2,-1,6,1.00,1.00,Spring
5269,355199,2015-16,3,3,2015-16,-1,-1,-1.0000,-1.0000,0,0,-2.0,-2,-1,6,2.00,2.00,Spring
5270,355200,2015-16,3,3,2015-16,-1,-1,-1.0000,-1.0000,0,0,-2.0,-2,-1,6,2.70,2.70,Spring

In [8]:
student_progress_data  = pd.concat((student_progress_Fall_data, student_progress_Spring_data))

In [9]:
student_progress_data.to_csv("student_progress_data.csv")

#Student Progress Data

In [20]:
#student progress fall data 
student_static_2011_Fall = pd.read_csv("./datasets/Student Static Data/Fall 2011_ST.csv")
student_static_2012_Fall = pd.read_csv("./datasets/Student Static Data/Fall 2012.csv")
student_static_2013_Fall = pd.read_csv("./datasets/Student Static Data/Fall 2013.csv")
student_static_2014_Fall = pd.read_csv("./datasets/Student Static Data/Fall 2014.csv")
student_static_2015_Fall = pd.read_csv("./datasets/Student Static Data/Fall 2015.csv")
student_static_2016_Fall = pd.read_csv("./datasets/Student Static Data/Fall 2016.csv")

#student progress spring data
student_static_2012_Spring = pd.read_csv("./datasets/Student Static Data/Spring 2012_ST.csv")
student_static_2013_Spring = pd.read_csv("./datasets/Student Static Data/Spring 2013.csv")
student_static_2014_Spring = pd.read_csv("./datasets/Student Static Data/Spring 2014.csv")
student_static_2015_Spring = pd.read_csv("./datasets/Student Static Data/Spring 2015.csv")
student_static_2016_Spring = pd.read_csv("./datasets/Student Static Data/Spring 2016.csv")

In [30]:
student_static_fall_array = [student_static_2011_Fall,student_static_2012_Fall, student_static_2013_Fall, student_static_2014_Fall, student_static_2015_Fall, student_static_2016_Fall]
student_static_Spring_array = [student_static_2012_Spring,student_static_2013_Spring, student_static_2013_Spring, student_static_2014_Spring, student_static_2015_Spring, student_static_2016_Spring]

In [31]:
for i in range(6):
    student_static_fall_array[i]["Weather"] = "Fall"
for i in range(5):
    student_static_Spring_array[i]["Weather"] ="Spring" 
    #student_static_Spring_array[i] = student_static_Spring_array[i]['Weather'] ="Spring"

In [33]:
student_static_fall_data = pd.concat((student_static_fall_array[0], student_static_fall_array[1],student_static_fall_array[2], student_static_fall_array[3], student_static_fall_array[4], student_static_fall_array[5] ))

student_static_Spring_data = pd.concat((student_static_Spring_array[0], student_static_Spring_array[1], student_static_Spring_array[2], student_static_Spring_array[3], student_static_Spring_array[4]))

In [34]:
student_static_data = pd.concat((student_static_fall_data, student_static_Spring_data))

In [35]:
student_static_data.to_csv("student_static_data.csv")