In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
student_dropout = pd.read_csv("../datasets/DropoutTrainLabels.csv")

In [3]:
student_static_11_12_fall = pd.read_csv("../datasets/Student Static Data/Fall 2011_ST.csv")
student_static_12_13_fall = pd.read_csv("../datasets/Student Static Data/Fall 2012.csv")
student_static_13_14_fall = pd.read_csv("../datasets/Student Static Data/Fall 2013.csv")
student_static_14_15_fall = pd.read_csv("../datasets/Student Static Data/Fall 2014.csv")
student_static_15_16_fall = pd.read_csv("../datasets/Student Static Data/Fall 2015.csv")
student_static_16_17_fall = pd.read_csv("../datasets/Student Static Data/Fall 2016.csv")

In [5]:
student_static_11_12_spring = pd.read_csv("../datasets/Student Static Data/Spring 2012_ST.csv")
student_static_12_13_spring = pd.read_csv("../datasets/Student Static Data/Spring 2013.csv")
student_static_13_14_spring = pd.read_csv("../datasets/Student Static Data/Spring 2014.csv")
student_static_14_15_spring = pd.read_csv("../datasets/Student Static Data/Spring 2015.csv")
student_static_15_16_spring = pd.read_csv("../datasets/Student Static Data/Spring 2016.csv")
#student_static_16_17_spring = pd.read_csv("../datasets/Student Static Data/Spring 2017.csv")

In [22]:
student_static_11_12 = pd.concat([student_static_11_12_fall, student_static_11_12_spring])
student_static_12_13 = pd.concat([student_static_12_13_fall, student_static_12_13_spring])
student_static_13_14 = pd.concat([student_static_13_14_fall, student_static_13_14_spring])
student_static_14_15 = pd.concat([student_static_14_15_fall, student_static_14_15_spring])
student_static_15_16 = pd.concat([student_static_15_16_fall, student_static_15_16_spring])
student_static_16_17 =student_static_16_17_fall

In [23]:
student_static_11_12.head()

,StudentID,Cohort,CohortTerm,Campus,Address1,Address2,City,State,Zip,RegistrationDate,...,DualHSSummerEnroll,EnrollmentStatus,NumColCredAttemptTransfer,NumColCredAcceptTransfer,CumLoanAtEntry,HighDeg,MathPlacement,EngPlacement,GatewayMathStatus,GatewayEnglishStatus
0,285848,2011-12,1,NaN,328 Adams St Apt 1,NaN,Hoboken,NJ,7030.0,20110808,...,0,2,0.0,0.0,-1,0,0,0,0,0
1,302176,2011-12,1,NaN,142 Cherry St,NaN,Jersey City,NJ,7305.0,20110804,...,0,2,96.0,45.0,-1,0,0,0,0,0
2,301803,2011-12,1,NaN,12 Rainbow Street,NaN,Presque Isle,ME,4769.0,20110809,...,0,2,0.0,0.0,-1,0,0,0,0,0
3,302756,2011-12,1,NaN,345 4th St Apt 2,NaN,Jersey City,NJ,7302.0,20110823,...,0,2,54.0,87.5,-1,0,0,0,0,0
4,300304,2011-12,1,NaN,6600 Broadway,Apt 3D,West New York,NJ,7093.0,20110725,...,0,1,-2.0,-2.0,-2,0,1,0,0,0

In [25]:
student_static_11_12_id = student_static_11_12[student_static_11_12["StudentID"].isin(student_dropout["StudentID"])]
student_static_12_13_id = student_static_12_13[student_static_12_13["StudentID"].isin(student_dropout["StudentID"])]
student_static_13_14_id = student_static_13_14[student_static_13_14["StudentID"].isin(student_dropout["StudentID"])]
student_static_14_15_id = student_static_14_15[student_static_14_15["StudentID"].isin(student_dropout["StudentID"])]
student_static_15_16_id = student_static_15_16[student_static_15_16["StudentID"].isin(student_dropout["StudentID"])]
student_static_16_17_id = student_static_16_17[student_static_16_17["StudentID"].isin(student_dropout["StudentID"])]